---
import type { ImageMetadata } from 'astro'
import { Image } from 'astro:assets'

interface Props {
  title: string
  img?: string
  current?: boolean
  date?: string
  description?: string
  country?: string
}
const { title, img, current, date, description, country } = Astro.props

let images
if (img) {
  images = import.meta.glob<{ default: ImageMetadata }>(
    '/src/assets/companies/*.{jpeg,jpg,png,gif}'
  )
  if (!images[img])
    throw new Error(
      `"${img}" does not exist in glob: "/src/assets/companies/*.{jpeg,jpg,png,gif}"`
    )
}
---

{
  img && images ? (
    <div class='my-2'>
      <span class='overflow-hidden absolute flex items-center justify-center w-12 h-12 bg-blue-100 rounded-full -start-6  ring-white dark:ring-gray-900 dark:bg-blue-900'>
        <Image src={images[img]()} alt='title' width='50' height='50' />
      </span>
      <h3 class='flex items-center mb-1 text-xl font-bold text-gray-900 dark:text-white'>
        {title}
        {current && (
          <span class='bg-blue-100 text-blue-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300 ms-3'>
            Actual
          </span>
        )}
      </h3>
      <time class='block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'>
        {date}
      </time>
      <span class='block text-base font-normal text-gray-500 dark:text-gray-400'>
        {country}
      </span>
    </div>
  ) : (
    <div class='my-6'>
      <span class='overflow-hidden absolute flex items-center justify-center w-3 h-3 mt-2 bg-blue-100 rounded-full -start-1.5 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900' />

      <h3 class='flex items-center mb-1 text-lg font-semibold text-gray-900 dark:text-white'>
        {title}
      </h3>

      <time class='block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500'>
        {date}
      </time>
      <p
        class='mb-4 text-base font-normal text-gray-500 dark:text-gray-400'
        set:html={description}
      />
    </div>
  )
}
