---
import ScrollWatcher from '@/components/ScrollWatcher.astro'
import Header from '@/components/Header.astro'
import { ClientRouter } from 'astro:transitions'

const {
  basic,
  image = 'https://www.nicolasnovo.com/android-chrome-512x512.png',
  url,
  description = "Nico Masnovo's personal web page"
} = Astro.props

const title = Astro.props.title
  ? 'Nico Masnovo | ' + Astro.props.title
  : 'Nico Masnovo'
---

<html lang='en' class='bg-gray-900 scroll-smooth scroll-p-0 lg:scroll-p-14'>
  <head>
    <meta charset='UTF-8' />
    <meta name='theme-color' content='#050133' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content={description} />
    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='application-name' content={title} />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <meta name='apple-mobile-web-app-title' content={title} />
    <meta
      name='theme-color'
      media='(prefers-color-scheme: light)'
      content='#050133'
    />
    <meta
      name='theme-color'
      media='(prefers-color-scheme: dark)'
      content='#050133'
    />
    <meta name='orientation' content='any' />

    <link rel='icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='shortcut icon' href='/favicon.ico' type='image/x-icon' />
    <link rel='icon' href='/favicon-16x16.png' sizes='16x16' type='image/png' />
    <link rel='icon' href='/favicon-32x32.png' sizes='32x32' type='image/png' />
    <link
      rel='icon'
      href='/favicon-192x192.png'
      sizes='192x192'
      type='image/png'
    />
    <link rel='icon' href='/favicon.svg' type='image/svg+xml' />
    <link rel='apple-touch-icon' href='/apple-touch-icon.png' />
    <link
      rel='apple-touch-startup-image'
      href='https://www.nicolasnovo.com/android-chrome-512x512.png'
    />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap'
      rel='stylesheet'
    />

    <link rel='manifest' href='site.webmanifest' />
    <link
      rel='canonical'
      href={!url ? 'https://nicomasnovo.com' : `https://nicomasnovo.com${url}`}
    />

    <meta property='og:title' content={title} />
    <meta property='og:site_name' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:image' content={image} />

    <title>{title}</title>
    <ClientRouter />
  </head>

  <body class='dark:bg-gray-900 antialiased font-nunito'>
    {basic ? null : <ScrollWatcher />}
    {basic ? null : <Header />}
    <slot />
    {
      basic ? null : (
        <footer class='text-center text-gray-400'>
          <ul class='p-10 max-w-3xl m-auto list-none gap-2 flex flex-col md:flex-row justify-center bg-[radial-gradient(ellipse_at_bottom,_var(--tw-gradient-stops))] to-gray-900 via-gray-900 from-[#161150] from-40% pb-24 md:pb-10'>
            <li>Made with Astro, Tailwind</li>
            <li>
              ( love ♡ and lots of{' '}
              <a href='/space' rel='nofollow'>
                stars
              </a>{' '}
              ☆ )
            </li>
            <li class='hidden md:visible'>-</li>
            <li>© 2024 Nico Masnovo</li>
          </ul>
        </footer>
      )
    }
  </body>
</html>

<style>
  canvas {
    position: fixed;
    top: 0;
    left: 0;
  }
</style>
