---
import Post from '@/components/Medium/Post.astro'
import { getPosts } from '@/services/getPosts'
import { getThemeClass } from '@/utils/theme'

const colors = [
  'from-[#2e409a] to-[#050133]',
  'from-[#2C5364] to-[#000000]',
  'from-[#621e19] to-[#0d1f26]',
  'from-[#7e3a63] to-[#050133]',
  'from-[#2a5554] to-[#06070c]',
  'from-[#5a0715] to-[#240b36]',
  'from-[#440104] to-[#061161]'
]
const base =
  'px-4 py-20 mb-12 text-gray-200 bg-[radial-gradient(ellipse_at_top,_var(--tw-gradient-stops))]'

const sectionClass = getThemeClass({ colors, base })

const posts = await getPosts()
const showViewMore = posts.length > 5
---

<section id='medium' class={sectionClass}>
  <div class='container mx-auto max-w-3xl text-gray-200'>
    <h1 class='text-2xl font-bold mb-8'>Últimos Posts de Medium</h1>

    <div>
      {
        posts
          .slice(0, 6)
          .map((post) => (
            <Post
              title={post.title}
              date={post.date}
              tags={post.tags}
              link={post.link}
              content={post.content}
              image={post.image}
            />
          ))
      }
      {
        showViewMore && (
          <div class='text-center mt-10'>
            <a
              href='http://blog.nicomasnovo.com'
              target='_blank'
              rel='noopener noreferrer'
              class='inline-block px-6 py-3 text-sm font-medium text-white bg-indigo-600 rounded-lg hover:bg-indigo-700 drop-shadow-lg transition-colors'
            >
              Ver todos en Medium
            </a>
          </div>
        )
      }
    </div>
  </div>
</section>
